<ion-view title="Cadastrar Dispositivo" hide-nav-bar="true" id="page10" style="">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/0Dtm4w7uRjy16YfYBVVR_CAD-CEL2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="cadastrarDispositivo-list10">
      <label class="item item-input" id="cadastrarDispositivo-input18">
        <span class="input-label">Proprietário</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="cadastrarDispositivo-input19">
        <span class="input-label">Email</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="cadastrarDispositivo-input20">
        <span class="input-label">Telefone</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="cadastrarDispositivo-input22">
        <span class="input-label">IMEI</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="cadastrarDispositivo-input23">
        <span class="input-label">Número do BO</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="cadastrarDispositivo-input21">
        <span class="input-label">Data do BO</span>
        <input placeholder="" type="date">
      </label>
      <label class="item item-select" id="cadastrarDispositivo-select2">
        <span class="input-label">Categoria</span>
        <select>
          <option>Celular</option>
          <option>Apple Watch</option>
          <option>Tablet</option>
          <option>Bicicletas</option>
        </select>
      </label>
      <label class="item item-select" id="cadastrarDispositivo-select3">
        <span class="input-label">Status</span>
        <select>
          <option>Normal</option>
          <option>Furto</option>
          <option>Roubo</option>
          <option>Perda</option>
          <option>Recuperação</option>
        </select>
      </label>
    </ion-list>
    <button id="cadastrarDispositivo-button12" style="font-weight:300;font-size:20px;" class="button button-positive button-small button-block">Enviar</button>
  </ion-content>
</ion-view>