<ion-view title="Home" hide-nav-bar="true" id="page1" style="">
  <ion-content padding="false" style="background: url(img/TQDLNIYQD28tJ1gAXBZQ_fundo120.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div>
      <img src="img/HyeGGpxRDyEMHYTyoUjA_CAD-CEL2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 118px;"></div>
    <a ui-sref="cONSULTA()" id="home-button13" style="color:#FFFFFF;font-size:20px;" class="button button-positive button-large button-full">CONSULTA</a>
    <a ui-sref="cADASTRO()" id="home-button14" style="color:#FFFFFF;font-size:20px;" class="button button-positive button-large button-full">CADASTRO</a>
    <a ui-sref="login()" id="home-button15" style="color:#FFFFFF;font-size:20px;" class="button button-positive button-full">LOGIN</a>
  </ion-content>
</ion-view>