<ion-view title="Login" id="page11" style="">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/j55cv60uScqobgJvzhoO_CAD-CEL2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form9" class="list">
      <div class="spacer" style="width: 320px; height: 86px;"></div>
      <label class="item item-input" id="login-input27">
        <span class="input-label">CPF</span>
        <input placeholder="" type="text" id="LCPF">
      </label>
      <label class="item item-input" id="login-input28">
        <span class="input-label">Senha</span>
        <input placeholder="" type="password" id="LSenha">
      </label>
    </form>
    <button id="login-button16" style="font-weight:300;font-size:20px;" class="button button-positive button-small button-block">Entrar</button>
  </ion-content>
</ion-view>